.container {
    display: flex;
    background-color: #565858;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    gap: 20px;

}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container a {
display: flex;
}

h1, footer , h2 {
    background-color: #4d88bb;
    padding: 20px
}
*{
    color: #f4f0f0
}
