header, footer {
    background-color: #4d88bb;
    color: azure;
}
nav ul {
    display: flex;
    background-color: #565858;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    gap: 20px;

}

nav li {
display: flex;
}

nav ul li a {
    color: azure;
}

.content-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


h1, h2 {
    background-color: #4d88bb;
    padding: 20px;
    color: azure;
    
}

