body {
    background-color: whitesmoke
}
header {
    background-color: rgb(30, 98, 143);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(83, 83, 83);
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    color: white;
}

nav.active {
    display: flex;
    margin-left: 10px;
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 1rem 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: black;
    font-size: larger;
}

nav a:hover {
    background-color: rgb(69, 68, 68);
    color: white;
    transition: .5s;
}

nav a.active::before {
    content: "📍";
    font-size: medium;
}

/* hamburger button and menu css*/
.ham-button {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 1;
    margin: 1rem;
}

.ham-button span {
    top: 50%;
    height: 5px;
    width: 100%;
    background-color: white;
    margin: 1px;
    position: absolute;
    transition: .3s ease;

}

.ham-button span:nth-child(1) {
    top: 25%;
}

.ham-button span:nth-child(3) {
    top: 75%;
}

.ham-button.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.ham-button.active span:nth-child(2) {
    opacity: 0;
}

.ham-button.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

main {
    width: 95%;
    margin: auto;
}

#temples-list {
    display: grid;
    grid-template-columns: 1fr;
}

main h2 {
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}


footer {
    background-color:  rgb(28, 93, 136);
    color: white;
    padding: 1rem;
    font-family: "Protest Guerrilla", sans-serif;
    text-align: center;
    font-size: larger;
}

#lastModified {
    font-size: smaller;
}

#lastModified,
#symbol-date-name {
    color: white
}